$almostWhite: hsl(0, 0%, 98%);
$mediumGray: hsl(0, 0%, 41%);
$almostBlack: hsl(0, 0%, 8%);

*{
    margin: 0;
    padding: 0;
}
@media only screen and (max-width:425px){
    #imageSection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background-color: $almostWhite;
        #logoImage {
            margin-left: 15px;
        }
        #iconMenu ,#iconCloseMenu{
            margin-right: 15px;
        }
        #iconCloseMenu {
            display: none;
        }
    }
    #menuCollapseSection {
        height: 100vh;
        margin-left: 25%;
        display: none;
        position: absolute;
        right: 12px;
        left: 30px;
        z-index: 500;
        background-color: $almostWhite;
        top: 2px;
        
        #iconCloseMenu {
            margin-left: 80%;
            padding-top: 20px;
        }
        ul {
            margin-left: 20px;
            padding-top: 40px;
            #login{
                text-align: center;
            }
            #register{
                border: 0.5px solid $mediumGray;
                width: 100px;
                text-align: center;
                margin: auto;
                border-radius: 13px;
                padding: 10px 30px 10px 30px;
            }
            li{
                list-style: none;
                font-size: 1.3rem;
                margin-bottom: 15px;
                a {
                    text-decoration: none;
                    color: $mediumGray;
                }
            }
        }
        
    }
    .heroSection{
        background-image: url('../images/image-hero-mobile.png');
        height: 84vh;
        margin-top: 30px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}